<div class="alert alert-dismissable alert-warning">
  <%= t('under_development') %>
</div>
<div class="row">
  <div class="col-lg-6">
  <%= link_to t('back'), technical_reports_path, class: 'btn btn-primary btn-back' %>
  <h1><%= t('new_technical_report') %></h1>
  </div>
</div>

<%= render 'form', technical_report: @technical_report %>
