<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <%= @technical_report.picture %>
</p>

<%= link_to 'Edit', edit_technical_report_path(@technical_report) %> |
<%= link_to 'Back', technical_reports_path %>
