<div class="row">
  <div class="col-lg-6">
  <%= link_to t('back'), mechanics_path, class: 'btn btn-primary btn-back' %>
  <%= link_to t('show'), @mechanic, class: 'btn btn-primary btn-back' %>
  <h1><%= t('editing_mechanic') %></h1>
  </div>
</div>

<%= render 'form', mechanic: @mechanic %>
