<div class="row">
  <div class="col-lg-6">
  <%= link_to t('back'), mechanics_path, class: 'btn btn-primary btn-back new__back-button' %>
  <h1 class="new__title"><%= t('new_mechanic') %></h1>
  </div>
</div>

<%= render 'form', mechanic: @mechanic %>
