<div class="row">
  <div class="col-lg-6">
  <%= link_to t('back'), states_path, class: 'btn btn-primary btn-back' %>
  <h1><%= t('editing_state') %></h1>
  </div>
</div>

<%= render 'form', state: @state %>
