<div class="row">
  <div class="col-lg-6">
  <%= link_to t('back'), clients_path, class: 'btn btn-primary btn-back' %>
  <h1><%= t('new_client') %></h1>
  </div>
</div>

<%= render 'form', client: @client %>
