<p id="notice"><%= notice %></p>

<p>
  <strong>Operation number:</strong>
  <%= @manual.operation_number %>
</p>

<%= link_to 'Edit', edit_manual_path(@manual) %> |
<%= link_to 'Back', manuals_path %>
