<div class="row">
  <div class="col-lg-6">
  <%= link_to t('back'), countries_path, class: 'btn btn-primary btn-back' %>
  <h1><%= t('editing_country') %></h1>
  </div>
</div>

<%= render 'form', country: @country %>
