<div class="row">
  <div class="col-lg-6">
  <%= link_to t('back'), cars_path, class: 'btn btn-primary btn-back' %>
  <%= link_to t('show'), @car, class: 'btn btn-primary btn-back' %>
  <h1><%= t('editing_car') %></h1>
  </div>
</div>

<%= render 'form', car: @car %>
