<div class="row">
  <div class="col-lg-6">
  <%= link_to t('back'), repair_orders_path, class: 'btn btn-primary btn-back' %>
  <h1><%= t('new_repair_order') %></h1>
  </div>
</div>

<%= render 'form', repair_order: @repair_order %>
